.dashboard {
  padding: 42px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .dashboard-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-content: center;
    place-items: center;
  }

  .welcome-title {
    text-align: center;
    width: 500px;
    margin: 0 auto 100px auto;
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: #042330;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 40px;
      width: 30px;
      height: 5px;
      background: #2ce080;
    }

    &:before {
      content: "";
      position: absolute;
      background: #2ce080;
      top: 33px;
      right: 40px;
      width: 5px;
      height: 25px;
    }
  }

  .log-button {
    width: 235px;
  }
}
