.books-library {
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.books-library .log-button {
  width: 235px;
}
/*# sourceMappingURL=books-library.styles.css.map */