.list-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.list-container h2 {
  font-weight: 400;
  text-align: center;
  padding-left: 5px;
}

.list-container table {
  margin: 0 auto;
}

.list-container .table-title th {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid white;
  font-weight: 400;
  background-color: #484848;
  color: white;
  padding: 10px;
}

.list-container th {
  padding: 10px;
  text-align: center;
  font-weight: 100;
  width: 150px;
}

.list-container th button {
  background-color: white;
  border: none;
  padding: 4px 7px;
  color: #484848;
  cursor: pointer;
  outline: none;
}

.list-container .actions-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=my-books.styles.css.map */