.reading-challenge {
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
  border-top: 1px solid #80808030;
  border-bottom: 1px solid #80808030;
}

.reading-challenge h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.reading-challenge input {
  width: 60px;
  text-align: center;
}

.reading-challenge button {
  width: 120px;
  font-size: 0.8rem;
  font-weight: 400;
}

.reading-challenge .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
/*# sourceMappingURL=reading-challenge.styles.css.map */