@import url("https://fonts.googleapis.com/css?family=Signika:300,400,600,700&display=swap");

.footer {
  background: #e4f5ff;
  padding: 20px 40px 20px 120px;
  width: 100%;

  p {
    color: #00000078;
    margin: 10px 0;
    font-size: 0.9rem;
  }

  .logo-container {
    padding: 20px;

    .logo {
      cursor: pointer;
      align-self: start;
      margin: 0;
      font-weight: 700;
      font-size: 2.5rem;
      color: #03314b;
      font-family: "Mansalva", cursive;
    }

    h5 {
      color: #1775fc;
      font-size: 1.2rem;
      font-family: "Signika", sans-serif;
      margin: 0;
      font-weight: 400;
      padding-top: 15px;
    }
  }

  h4 {
    font-weight: 600;
    color: #03314b;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
  }

  .copyright {
    border-top: 2px solid white;
    display: flex;
    width: 100%;

    p {
      padding: 5px 30px;
    }
  }

  .socials {
    position: absolute;
    right: 40px;
    bottom: 30px;

    i {
      color: #03314b;
      font-size: 1.5rem;
      padding: 0 10px;
    }
  }
}
