.add-book-container {
  padding: 40px 0;
  max-width: 400px;

  h2 {
    padding: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
    color: #042330;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 100px;
      height: 5px;
      background: #2ce080;
    }
  }

  button {
    width: 100px;
    font-size: 1rem;
    height: 30px;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .search-list {
    margin: 50px 0;
    width: 1000px;
    overflow: auto;
    z-index: 999;
    max-height: 500px;

    .book {
      border-bottom: 2px solid #03314b;
      padding: 10px 5px;
      cursor: pointer;
      display: grid;
      grid-template-columns: 0.2fr 2fr;
      place-items: center;
      text-align: start;

      &:hover {
        background-color: whitesmoke;
      }

      img {
        max-width: 50px;
      }

      h4 {
        margin: 20px 0;
        font-weight: 400;
        font-size: 1.4rem;
      }

      h5 {
        font-weight: 400;
      }

      .book-col:last-of-type {
        place-self: start;
      }
    }
  }

  .row {
    padding: 0;

    label {
      padding: 0;
    }

    input {
      padding: 2px;
      outline: none;
      font-size: 1rem;
      height: 30px;
    }
  }

  .success-message {
    padding: 7px 5px;
    margin-top: 10px;
    text-align: center;
    background: #3ba73b;
    width: 96%;
    margin: 15px auto;

    p {
      margin: 0;
      padding: 0;
      color: white;
    }
  }
}

.imageBoy img {
  width: 350px;
  bottom: 260px;
  position: absolute;
  left: 0;
}

.imageGirl img {
  width: 350px;
  bottom: 260px;
  position: absolute;
  right: 0;
}

select {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  height: 26px;
  background: #fff;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 4px;
  border: 1px solid #48484857;
}
