.list-container {
  padding: 20px 80px;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;

  h2 {
    padding: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
    color: #042330;
    position: relative;
    text-align: start;
    margin: 0;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 100px;
      height: 5px;
      background: #2ce080;
    }

    :last-of-type {
      &:after {
        content: "";
        width: 0;
        height: 0;
      }
    }
  }

  table {
    box-shadow: 0 0 0px 7px #c1c1c16b;
    border-collapse: collapse;
  }

  .title {
    text-transform: uppercase;

    i {
      color: #042330;
      font-size: 0.9rem;
    }
  }

  .table-title {
    th {
      box-sizing: border-box;
      border: 4px solid white;
      font-weight: 700;
      color: #042330;
      padding: 10px;
      font-size: 1.5rem;
      position: relative;
      width: 250px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 80px;
        height: 5px;
        background: #042330;
      }
    }
  }

  th:first-of-type:after {
    width: 0;
    height: 0;
  }

  th:last-of-type:after {
    width: 0;
    height: 0;
  }

  .rows {
    transition: background 150ms ease-in-out;
    padding: 10px;

    .cover-book {
      img {
        width: 50px;
        transition: transform 100ms ease-in;
      }
    }

    &:hover {
      background: whitesmoke;
      font-weight: 700;

      button {
        background-color: transparent;
      }

      .title i {
        color: #fff;
      }

      .cover-book img {
        transform: scale(1.5);
      }
    }
  }

  th {
    padding: 20px 30px 20px 15px;
    text-align: start;
    font-weight: 400;
    width: 150px;
    color: #042330;
    font-size: 1.2rem;

    button {
      background-color: transparent;
      border: none;
      padding: 4px 7px;
      color: #484848;
      cursor: pointer;
      outline: none;
    }

    a {
      color: #042330;
      text-decoration: none;
    }

    i {
      background-color: transparent;
      font-size: 1rem;
    }
  }
}